@model IEnumerable<HotelManagement.Models.EntityModel.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nameRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Status.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Type.room_Type_Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Status.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Type.room_Type_Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomNumber })
        </td>
    </tr>
}

</table>
